#start {


    display: flex;
    flex-direction: column;
    padding: auto;
    margin: auto;
    gap: 10px;





}

#main {


    padding: auto;
    background-color: transparent;
    gap: 15px;
    display: flex;
    flex-direction: column;



}

#buttons {


    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 50px;
    width: 210px;
    margin-top: 20px;
    border-color: transparent;




}

#buttons:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: rgb(255, 255, 255);
    border-style: double;
    transition: 0.6s;

}

#buttons:active {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: transparent;



}

.info {

    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

}

.content {

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1px;
    padding: auto;
    background-color: transparent;
    gap: 40px;
    position: fixed;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 10px;

}

.background {

    width: 100%;
    margin: 10px;
    padding: 10px;
    gap: 10px;




}

.headers {

    font-size: 190px;
    color: cyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 120px;


}

#nav-bar {

    margin-top: 50px;
    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    gap: 10px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
    padding: 5px;

}

#ABOUT {


    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 90px;


}

#GENRES {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;

}

#LINKS {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;






}

#CONTACTS {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    border-radius: 20px;

}


#decos {


    font-size: 20px;
    font-family: TT Supermolot Neue, Impact, Haettenschweiler, cursive, 'Arial Narrow Bold', sans-serif
}

.contents {

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 50px;
    padding-left: 30px;
    background-color: transparent;
    gap: 15px;
    width: 85%;
    transition: 1s;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;




}

body {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.contents::-webkit-scrollbar {
    display: none;
}

#icon1 {

    width: 490px;
    margin-top: 200px;
    height: 480px;
    border-radius: 30px;

}

.submit {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 210px;
    border: none;
    margin-top: 20px;

}

.submit:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(15, 255, 35);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);



}

.submit:active {

    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    box-shadow: 10px 10px 5px gray;


}

#display {
    border: none;
    height: 40px;
    width: 210px;
    font-size: medium;
    border-radius: 3px;
}
#message {
    border: none;
    height: 90px;
    width: 250px;
    font-size: medium;
    border-radius: 5px;
    text-align: left;
    resize: none;
}

.mail-icon {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 15px;


}

.end {

    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-left: 300px;
    margin-top: -10px;


}

.redirect {

    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 210px;
    border: none;
    margin-top: 20px;
    margin-left: 10rem;

}

.redirect:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(15, 255, 35);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);






}

#linkers {


    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.game-type {

    font-size: 50px;
    color: rgb(255, 2, 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.icon2 {

    width: 490px;
    margin-top: 150px;
    height: 480px;
    border-radius: 30px;




}

.RPG {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;



}

.PLATFORMER {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;


}

.ACTION-ADVENTURE {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;


}

.SOULS-LIKE {


    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.SPORTS {


    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;


}

.SIMULATION {

    background-color: transparent;
    height: 95vh;
    scroll-snap-align: start;
    margin-left: 3px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 200px;

}

.icon3 {

    width: 490px;
    margin-top: 220px;
    height: 480px;
    border-radius: 30px;



}
.description {

    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;





}
.redirect2{

    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 210px;
    border: none;
    margin-top: 20px;
    


}
.newpage{

    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    height: 50px;
    width: 210px;
    border: none;
    margin-top: 20px;
    






}

.redirect2:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(15, 255, 35);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);


}
.newpage:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(15, 255, 35);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);






}
.page2{

    display: flex;
    flex-direction:row;
    background-color: rgb(0, 0, 0);
    margin: 30px;
    gap: 250px;
}
.button2{

    display: flex;
    flex-direction: column;


}
.genres-image{
    height: 500px;
    width: 700px;
    margin-right: 200px;
    border-radius: 20px;





}
.background2{

    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    margin: 30px;



}


@media ( max-width : 720px ) {


      
    .content{

    display: none;

    }
    .contents{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 520px;
        margin: none;
        padding: none;

    }

    #nav-bar{

        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        width: 520px;
        margin-right: 180px;
        margin-top: -200px;
        
    }
    .headers{
        
        font-size: 70px;
        rotate: -90deg;
        margin-top: 250px;
        margin-right: none;
        margin-left: 240px;

    }
    #icon1{

        display: none;
    }
    #GENRES{

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .genre{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 330px;
        margin-left: 100px;
        margin-bottom: 0px;
        margin-top: -150px;

    }
    .img1{

        display: none;
    }
    .RPG{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        

    }
    .roles1{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin-left: 100px;
        margin-top: -300px;
        font-size: 15px;

    }
    .icon1{

        display: none;
    }
    #Credit{

        display: none;
    }

    .PLATFORMER{

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .pf{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin-left: 100px;
        margin-top: -120px;
        font-size: 15px;



    }
    .icon22{
        display: none;
    }
    .ACTION-ADVENTURE{

        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
    .icon23{
        display: none;
    }
    .aad{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin-left: 100px;
        margin-top: -170px;
        font-size: 15px;


    }
    .SOULS-LIKE{

        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
    .sl{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin-left: 100px;
        margin-top: -170px;
        font-size: 15px;




    }
    .SPORTS{

        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .icon24{

        display: none;
    }
    .sg{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin-left: 105px;
        margin-top: -140px;
        font-size: 15px;





    }
    .icon25{

        display: none;




    }
    .SIMULATION{

        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
    .sm{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        margin-left: 100px;
        margin-top: -300px;
       

    }
    .icon27{
        display: none;
    }
    #ABOUT{

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
        width: 350px;
        margin-bottom: 200px;
        

    }
    #LINKS{

        font-size: 10px;
        margin-left: 100px;

    }
    .info{

        font-size: 12px;
    }
    .end{

        display: none;
    }
    .page2{

        display: flex;
        justify-content: center;



    }
    .image{

        display: none;

    }
    .button2{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 100px;


    }
    .description {

        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
    }
    #CONTACTS{

        display: flex;
        flex-direction: column;
        margin-right: 70px;
        text-wrap: 10px;
        border-radius: 20px;

    }
    #nan{
        display: none;
    }










}
.page{
    display:flex ;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:cyan;
    height: 800px;
    border-radius: 20px;

}
.sus{
    width: 500px;
    height: 500px;
    border-radius: 500px;

}
.thanks{
    font-size: 50px;

}
